* {
    box-sizing:border-box;
}

body{
    background-color: #c5e9ff;
    color: #415269;
}

.page-wrap {
    width:80%;
    background-color: #89a8be;
    margin:30px auto;
}

.row {
    border: #415269 1px solid;
}

.header {
    height: 120px;
}

.main {
    height: 510px;
}

.footer {
    height:90px;
}

.col {
    float: left;
    border: #415269 1px solid;
}

.game-col {
    float:left;
    border: 2px solid #0f0f1f;
    background-color: white;
    height: 168px;
}

.col-1-3 {
    width:33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-1 {
    width: 100%;
}

ul {
    text-align:center;
}

li {
    display: inline;
    margin: 40px ;
}

.register {
    border: #415269 1px solid;
    width:40%;
    height:400px;
}

.tlb {
    border-left: none;
    border-top: none;
}

.tcb {
    border-top: none;
}

.trb {
    border-right: none;
    border-top: none;
}

.crb {
    border-right: none;
}
.clb {
border-left: none;
}

.brb {
    border-right: none;
    border-bottom: none;
}

.bcb {
    border-bottom: none;
}

.blb {
    border-bottom: none;
    border-left: none;
}